.MediaImg{
  position: relative;
  max-width: 234px;
  height: 135px;
  overflow: hidden;
  background-color: #e4f1fa;
  background-image: url("../../public/images/icon/fireball2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  border: 1px solid $secondColor;
  margin: $indent+px 0;

  &__img{
    display: block;
    width: 100%;
  }

  &__content{
    position: absolute;
    bottom: 0;
    padding: 7px 10px;
    font-size: 0.833rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    
    &--logo{
      background-image: url("../../public/images/icon/fireball.png");
      background-repeat: no-repeat;
      background-size:  auto 12px;
      background-position: center right 10px;
      min-height: 25px;
    }
  }

  &__title{
    max-width: 150px;
  }

}