.UploadImg {
  @include block();
  min-height: 291px;
  max-height: 600px;
  background-color: #e7f3f6;
  border-radius: 3px;

  &--min {
    min-height: 135px;
    border-radius: 0px;
  }

  &__wrapper{
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  &__title {
    padding-top: 2*$indent + px;
  }

  &__info {
    display: inline-block;
    padding: $indent + px 0;
    color: $thirdColor;
    font-size: 1.167rem;
    font-weight: 300;
  }

  &__description {
    padding-top: 2*$indent +px;
    color: $secondColor;
  }

  &__preview {
    text-align: center;

    &:before {
      content: "";
      min-height: 291px;
      display: inline-block;
      vertical-align: middle;
    }

    img {
      display: inline-block;
      max-width: 100%;
      vertical-align: middle;
    }
  }

  &__previewText {
    display: inline-block;
    position: relative;
    font-size: 1rem;
    padding: 0 2*$indent + px;
    text-align: center;
    vertical-align: middle;
  }

  &__input {
    position: absolute;
    left: 0;
    height: 100%;
    font-size: 0;
    opacity: 0;
    z-index: 2;
  }

  &__attention {
    position: absolute;
    width: 100%;
    top: 403px;
    bottom: 0;
    text-align: center;
    padding: $indent + px;
    background-color: rgba(255, 255, 255, 0.82);
    span {
      display: inline-block;
      font-size: 1.667rem;
      font-weight: 300;
    }

    &:before {
      content: "";
      min-height: 100%;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__remove{
    position: absolute;
    width: 44px;
    height: 44px;
    background-color: $primaryColor;
    background-image: url("../../public/images/icon/deleteS.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    right: 10px;
    top: 10px;
    z-index: 22;
  }
}

//action

.UploadImg--min {
  max-width: 234px;

  .UploadImg__preview {
    text-align: center;

    &:before {
      min-height: 135px;
    }
  }

  .UploadImg__remove{
    background-image: url("../../public/images/icon/deleteXS.png");
    background-color: transparent;
    top: 0;
    right: auto;
    left: 100%;
  }
}