.Btn {
  font-size: 1.167rem;
  background-color: $thirdColor;
  color: #fff;
  padding: 8px 12px;
  display: inline-block;
  border-radius: 3px;
  border: none;
  cursor: pointer;

  &:hover{
    background-color: $fourthColor;
  }

  &:active{
    box-shadow: inset 0 1px 4px 0px #00558d;
  }

  &--save{
    background-color: $good;

    &:hover{
      background-color: $good;
    }

    &:active{
      box-shadow: inset 0 1px 4px 0px $good;
    }

  }

  &--delete{
    border: none;
    background-color: transparent;
    background-image: url("../../public/images/icon/deleteXS.png");
    background-repeat: no-repeat;
    background-position: left center;
    font-weight: bold;
    padding-left: 20px;
    color: $bad;
    cursor: pointer;
  }
}