.SeoInfo{
  text-align: left;
  &__title{
    font-weight: 500;
    font-size: 2rem;
    padding: $indent+ px 0;
  }

  &__description{
    font-size: 1.167rem;
    color: $secondColor;
    line-height: 1.5;
  }

  &__media{
    padding: $indent+ px $indent+ px 0;
    width: 100%;

    @media(min-width: 768px){
      width: 60%;
    }
    
    @media (min-width:1024px) {
      width: 33.3333%;
      padding: $indent+ px 0 0;
    }
  }
}