.Select {
  display: inline-block;
  width: 100%;
  max-width: 33%;
  text-align: center;
  position: relative;
  z-index: 3;

  &__wrapper {
    font-size: 0;
    padding: 10px;
    background-color: #000000;

  }

  &__list{
    font-size: 14px;
    color: #fff;
    padding:0 10px;
    display: inline-block;
    border-right: 2px solid #888;
    cursor: pointer;

    &:last-child{
      border: none;
    }
  }

  &__linkBlock{
    display: none;
    font-size: 14px;
    background-color: #fff;
    padding: 15px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 500px;
    text-align: left;
  }

  &__link{
    color: #666;
    display: inline-block;
    padding: 2px 0;
    width: 33%;

    &:hover{
      color: #222;
    }
  }

  &__title {
    font-size: 14px;
    color: #fff;
    display: inline-block;
    width: 100%;
  }

  &__selectWrapper{
    display: inline-block;
    text-align: right;
  }

  &__selectBlock {
    display: block;
    width: 100%;
    position: relative;

    span.Select__select {
      opacity: 1;
      position: relative;
      display: inline-block;
      min-height: 0;
      width: 100%;
      text-align: left;
      border-radius: 3px;
      font-size: 1rem;
      background-color: $thirdColor;
      border:1px solid $thirdColor;
      padding: 5px;
      color: #fff;
      cursor: pointer;

      &--publish {
        font-weight: inherit;
        background-color: #ffffff;
        color: $primaryColor;
        border-color: $primaryColor;
      }

      &--approved {
        background-color: $good;
        border-color: $good;
      }

      &--draft {
        background-color: $primaryColor;
        border-color: $primaryColor;
      }

      &--editing {
        background-color: $sixthColor;
        border-color: $sixthColor;
      }

      &--forReview {
        background-color: $fivethColor;
        border-color: $fivethColor;
      }

      &--reject {
        background-color: $bad;
        border-color: $bad;
      }
    }

  }

  &__select {
    padding: 0 15px;
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    filter: Alpha(Opacity=0);
    opacity: 0;
    z-index: 2;


    option {
      font-size: 1.1rem;
    }

  }
}

.selectBlock__list:hover > .selectBlock__linkBlock{
  display: inline-block;
}
