.UserVisit {
  @include block();

  &__image {
    display: inline-block;
    max-width: 32px;
    border-radius: 50%;
    vertical-align: middle;
  }

  &__name {
    display: inline-block;
    font-size: 1rem;
    vertical-align: middle;
    font-weight: 700;
    padding: 0 ($indent+px);
  }
}