.MyPosts {
  @include block();

  &__header {
    position: relative;
    max-width: $maxWidth + px;
    margin: 0 auto;
    font-size: inherit;
    padding: (2*$indent + px) $indent+ px;

  }

  &__title {
    font-weight: 500;

    @media(min-width: 1024px) {
      display: inline-block;
      width: 70%;
    }
  }

  &__button {
    text-align: right;

    @media(min-width: 1024px) {
      display: inline-block;
      width: 30%;
    }
  }

  &__search {
    display: block;
    margin-top: (2*$indent + px);
    padding: 7px;
    border: 1px solid #999;
    border-radius: 3px;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-size: auto 16px;
    background-position: 8px center;
    background-image: url("../../public/images/icon/search.png");

    input {
      font-size: 1.167rem;
      display: block;
      border: none;
      outline: none;
      color: $primaryColor;
      @include placeholder(#999999)
    }
  }

  &__posts {
    position: relative;
    font-size: inherit;
    max-width: $maxWidth + px;
    margin: 0 auto;
  }

  &__post {
    padding: $indent+ px;
    width: 100%;
    vertical-align: top;

    @media (min-width: 768px) {
      display: inline-block;
      max-width: 50%;
    }

    @media (min-width: 1024px) {
      display: inline-block;
      max-width: 33.333%;
    }

  }
}

//action

.MyPosts {

  &__post {
    @media (max-width: 1440px) and (min-width: 769px){
      &:nth-child(3n) {
        .StatusBtn {
          &__description {
            left: auto;
            right: calc(100% + 13px);
            &:before {
              content: "";
              border: 6px solid transparent;
              border-left: 6px solid #333333;
              left: 100%;
            }
          }
        }
      }
    }

    @media (max-width: 768px) {
      &:nth-child(2n) {
        .StatusBtn {
          &__description {
            left: auto;
            right: calc(100% + 13px);
            &:before {
              content: "";
              border: 6px solid transparent;
              border-left: 6px solid #333333;
              left: 100%;
            }
          }
        }
      }
    }
  }
}