.TextBlock{
  &__title{
    display: inline-block;
    width: 50%;
    font-weight: 700;
    font-size: 1.333rem;
    text-align: left;
  }

  &__headLink{
    display: inline-block;
    width: 50%;
    font-weight: 400;
    font-size: 1.167rem;
    text-align: right;
    color: $thirdColor;
    &>*{
      color: inherit;
    }
  }

  &__text{
    padding-top: $indent+px;
  }

  &__content{
    border: 1px solid #999;
    box-shadow: none;
    border-radius: 3px;
    width: 100%;
    padding: 5px;
    @include placeholder(#999999)
  }
}