.SocialMedia {
  min-height: 290px;
  &__title {
    font-size: 1.333rem;
    font-weight: 700;
  }

  &__tabs {
    padding: $indent +px 0;
  }

  &__tab {
    display: inline-block;
    width: 50%;

    label {
      display: block;
      text-align: center;
      font-size: 1.167rem;
      color: #fff;
      padding: 8px 12px;
      border-radius: 3px 0 0 3px;
      border: 1px solid $thirdColor;
      cursor: pointer;
      color: $thirdColor;
      white-space: nowrap;
    }

    &:last-child {
      label {
        border-radius: 0 3px 3px 0;
      }
    }
  }
  &__tabContent {
    font-size: 1rem;
  }

  &__checkBlock {
    font-size: 1.167rem;

    label {
      display: inline-block;
      padding: 5px 0;

      div {
        display: inline-block;
        vertical-align: middle;
        width: 14px;
        height: 14px;
        border-radius: 3px;
        border: 1px solid $thirdColor;
        padding: 1px;
        font-size: 0;

        &:before {
          content: " ";
          display: block;
          width: 0;
          height: 0;
          background-color: $thirdColor;
          border-radius: 3px;

        }
      }

      span {
        display: inline-block;
        vertical-align: middle;
        padding-left: 5px;
      }
    }

  }

  &__img {
    display: block;
  }

}

//actions

.SocialMedia {
  &__tabs {
    input[type=radio] {
      &:checked {
        & ~ label {
          background-color: $thirdColor;
          color: #fff;
        }
      }
    }
  }

  &__checkBlock{
    input[type=checkbox] {
      &:checked {
        & ~ label {
          & > div {
            &:before {
              width: 10px;
              height: 10px;

            }
          }
        }
      }
    }
  }
}