@mixin inputBtn() {
  font-size: 0;
  padding: 12px;
  margin: 0 1px;
  background-color: $secondColor;
  background-size: 42%;
  background-repeat: no-repeat;
  background-position: center;

  &:hover{
    background-color: $thirdColor;
  }
}

@mixin planTransp(){
  &:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
  }
}


//MIXIN BLOCK!!!

@mixin block() {
  display: block;
  margin: 0;
  font-size: 0;
  position: relative;

  & input, textarea{
    width: 100%;
  }

}

@mixin row($margin) {

  &_row {
    font-size: 0;
    position: relative;
    margin: -$margin+px;
  }
}

@mixin resize($args...) {
  $names: '';

  @for $i from 1 through length($args) {

    $block: nth($args, $i);

    $col: nth($block, 2);

    @if $i==1 {
      $names: $names+$col;
    } @else {
      $names: $names+'x'+$col;
    }
  }

  &_width_#{$names} {
    @each $size, $col, $type in $args {
      @media (min-width: $size+px) {
        display: inline-block;
        width: unquote($col + $type);
      }
    }
  }
}

//BORDER --rXX

@mixin bordRadius($radius){
  &--r#{$radius} {
    border-radius: $radius +px;
  }
}

//POSITION CONTENT

@mixin positionContent($position) {
  vertical-align: $position;
  &:after {
    content: "";
    height: 100%;
    display: inline-block;
    width: 0;
    vertical-align: middle;
  }
}

//PLASEHOLDER

@mixin placeholder($color){
  &:placeholder {
    color: $color;
  }

  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  /* Firefox 19+ */
  &:-moz-placeholder {
    color: $color;
  }
  /* Firefox 18- */
  &:-ms-input-placeholder {
    color: $color;
  }
}
