.TextEditor {
  [class ^= RichTextEditor] {
    border: none;
    font-family: Ubuntu;

    [class ^= EditorToolbar] {
      padding: 20px $indent +px;
      background-color: #f7f7f7;
      text-align: center;
      box-shadow: 0 1px 2px 0 #e1e1e1;
      border: none;
      margin: 0;

      .controls {
        width: unquote(9/12*100 +'%');
      }
    }
  }

  .DraftEditor-root {
    width: unquote(9/12*100 +'%');
    padding: 0 $indent +px;
    position: relative;
    margin: 0 auto;

    .public-DraftEditor-content {
      margin: 1.5rem 0;
    }
  }
}