@font-face{
  font-family: 'Ubuntu';

  src: url('../fonts/Ubuntu-Light.ttf');

  font-weight: 300;

  font-style: normal;
}

@font-face{
  font-family: 'Ubuntu';

  src: url('../fonts/Ubuntu-Regular.ttf');

  font-weight: 400;

  font-style: normal;
}

@font-face{
  font-family: 'Ubuntu';

  src: url('../fonts/Ubuntu-Medium.ttf');

  font-weight: 500;

  font-style: normal;
}

@font-face{
  font-family: 'Ubuntu';

  src: url('../fonts/Ubuntu-Bold.ttf');

  font-weight: bold;

  font-style: normal;
}

$indent: 15;

$font-size: 12;
$maxWidth: 1141;


$mainFont: 'Ubuntu';

$oneColor: #333333;
$twoColor: #7698a2;
$threeColor: #2b94e1;
$fourColor: #0071bc;
$fiveColor: #f4ac00;
$sixColor: #c40cbe;

$good: #46a42d;
$bad: #d00000;


$primaryColor: $oneColor;
$secondColor: $twoColor;
$thirdColor: $threeColor;
$fourthColor: $fourColor;
$fivethColor: $fiveColor;
$sixthColor: $sixColor;


h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  font-size: 2.667rem;
}
h2{
  font-size: 2rem;
}
h3,h4,h5,h6{
  font-size: 1.3rem;
}

.mySVG{
  display: none;
}

.ic-2{
  fill: #fff;
}
