@import "mixin";
@import "variables";
@import "global";

//edit style plugin
@import "RichTextEditor";

//pages
@import "../../pages/MyPosts/MyPosts";
@import "../../pages/NewPost/NewPost";

//components
@import "../../components/Btn/Btn.scss";
@import "../../components/MediaImg/MediaImg";
@import "../../components/PopUp/PopUp";
@import "../../components/Post/Post";
@import "../../components/Select/Select";
@import "../../components/SeoInfo/SeoInfo";
@import "../../components/SocialMedia/SocialMedia";
@import "../../components/StatusBtn/StatusBtn";
@import "../../components/TextBlock/TextBlock";
@import "../../components/TextEditor/TextEditor.scss";
@import "../../components/UploadImg/UploadImg";
@import "../../components/UserVisit/UserVisit";

.App{
  overflow: hidden;

  &:before{
    content: '';
    display: block;
    background-color: #2a2e32;
    background-image: url("../images/icon/SEMrush.png");
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
  }
}