.Post {
  @include block();
  background-color: #e6eef1;

  &__status {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &__img {
    min-height: 163px;
    max-height: 222px;
    overflow: hidden;
    background-color: #cedde1;
    background-image: url("../../public/images/icon/fireball.png");
    background-repeat: no-repeat;
    background-position: center;

    img {
      width: 100%;
      display: block;
    }

    @media (min-width: 768px) {
      height: 199px;
    }

    @media (min-width: 1024px) {
      height: auto;
      min-height: 175px;
      max-height: 197px;
    }
  }

  &__date{
    color: $secondColor;
    font-size: 1.083rem;
    padding: 15px 0 10px 10px;
    display: inline-block;
    width: 60%;
    text-align: left;
    vertical-align: top;
  }

  &__seo{
    display: inline-block;
    font-size: 1.083rem;
    padding: 15px 10px 10px 0;
    color: $secondColor;
    width: 40%;
    text-align: right;
    vertical-align: top;
  }

  &__title{
    color: $primaryColor;
    font-size: 1.500rem;
    font-weight: 500;
    padding: 10px 15px;
    display: inline-block;
    min-height: 62px;

    &:hover{
      color: $thirdColor;
    }

    &:active{
      color: $fourthColor;
    }
  }

  &__blockInfo{
    padding:15px;
    min-height: 42px;
  }

  &__info{
    font-size: 0.917rem;
    background-repeat: no-repeat;
    background-position: left center;
    color: $secondColor;
    padding:0 20px;
    display: inline-block;

    &--views{
      background-image: url("../../public/images/icon/icon-xs-show.png");
    }

    &--stars{
      background-image: url("../../public/images/icon/icon-xs-star.png");
    }

    &--repost{
      background-image: url("../../public/images/icon/icon-xs-share.png");
    }
  }
}