.StatusBtn {
  border-radius: 3px;
  font-size: 1rem;
  background-color: $thirdColor;
  padding: 5px;
  color: #fff;
  cursor: pointer;

  &__i {
    display: inline-block;
    font-weight: bold;
    background-color: #ffffff;
    color: $thirdColor;
    width: 0;
    transition: all 0.3s;
    text-align: center;
    border-radius: 7px;

    &--approved {
      color: $good;
    }

    &--draft {
      color: $primaryColor;
    }

    &--editing {
      color: $sixthColor;
    }

    &--forReview {
      color: $fivethColor;
    }

    &--reject {
      color: $bad;
    }
    &--publish {
      color: #ffffff;
      background-color: $primaryColor;
    }
  }

  &__description {
    position: absolute;
    background-color: #191919;
    color: #fff;
    min-width: 230px;
    padding: 15px;
    border-radius: 7px;
    right: calc(100% + 13px);
    opacity: 0;
    top: -100000px;
    z-index: 20;

    &:before {
      content: "";
      position: absolute;
      border: 6px solid transparent;
      border-left: 6px solid $primaryColor;
      left: 100%;
      top: 15px;
    }

    @media (min-width: 769px) {
      right: auto;
      left: calc(100% + 13px);

      &:before {
        left: auto;
        content: "";
        border: 6px solid transparent;
        border-right: 6px solid $primaryColor;
        right: 100%;
      }
    }
  }

  &--publish {
    font-weight: inherit;
    background-color: #ffffff;
    color: $primaryColor;
  }

  &--approved {
    background-color: $good;
  }

  &--draft {
    background-color: $primaryColor;
  }

  &--editing {
    background-color: $sixthColor;
  }

  &--forReview {
    background-color: $fivethColor;
  }

  &--reject {
    background-color: $bad;
  }
}

//actions
.StatusBtn {
  &:hover {
    .StatusBtn__i {
      width: 13px;
      margin-left: 5px;
      transition: all 0.3s;
    }

    .StatusBtn__description {
      top: -10px;
      opacity: 1;
      transition: opacity 0.4s;
    }
  }
}