.NewPost {
  @include block();
  text-align: center;

  &__header {
    position: relative;
    max-width: $maxWidth + px;
    margin: 0 auto;
    font-size: inherit;
    padding: $indent+ px;
    text-align: left;
  }

  &__title {
    display: inline-block;
    padding: $indent +px;
    padding-left: 0;
    vertical-align: middle;
    text-align: left;
    width: 80%;
    border-bottom: 1px solid $primaryColor;

    @media(min-width: 768px){
      width: unquote(10/12*100 +'%');
    }
  }

  &__arrBack {
    display: inline-block;
    padding: 0 $indent +px;
    vertical-align: middle;
    text-align: left;
    width: 20%;

    @media(min-width: 768px){
      width: unquote(1/12*100 +'%');
    }
  }

  &__arr {
    display: block;
    height: 20px;
    width: 20px;
    border: 1px solid $secondColor;
    border-width: 0 0 5px 5px;
    transform: rotate(45deg);
    text-align: left;
  }

  &__user {
    display: inline-block;
    padding: 0 $indent +px;
    text-align: left;
    width: 50%;

    @media(min-width: 768px){
      width: unquote(4/12*100 +'%');
    }

    @media(min-width: 1440px){
      width: unquote(3/12*100 +'%');
    }
  }

  &__status {
    width: unquote(5/12*100 +'%');
    display: inline-block;
    padding: 0 $indent +px;
    text-align: right;

    @media(min-width: 1440px){
      width: unquote(3/12*100 +'%');
    }
  }

  &__addImage {
    display: block;
    margin: 0 auto;
    padding: 2*$indent+ px  12px 0;
    width: 100%;


    @media(min-width: 768px){
      width: unquote(9/12*100 +'%');
    }

    @media(min-width: 1440px){
      width: unquote(6/12*100 +'%');
    }
  }

  &__editText {
    padding: 2*$indent+ px  0 0;
  }

  &__meta {
    padding: 2*$indent+ px  $indent +px 0;
    margin: 0 auto;
    width: 100%;

    &--last{
      padding: 2*$indent+ px  $indent +px 3*$indent+ px;
    }


    @media(min-width: 768px){
      width: unquote(9/12*100 +'%');
    }

    @media(min-width: 1440px){
      width: unquote(6/12*100 +'%');
    }
  }

  &__seoInfo {
    display: inline-block;
    padding: 2*$indent+ px  $indent +px 0;
    width: 100%;

    @media(min-width: 768px){
      width: unquote(9/12*100 +'%');
    }

    @media(min-width: 1440px){
      width: unquote(6/12*100 +'%');
    }
  }

  &__btnDelete {
    display: inline-block;
    padding: $indent +px;
    vertical-align: middle;
    text-align: left;
    width: 50%;

    @media(min-width: 768px){
      width: unquote(5/12*100 +'%');
    }

    @media(min-width: 1440px){
      width: unquote(3/12*100 +'%');
    }
  }

  &__btnSave {
    display: inline-block;
    text-align: right;
    padding: $indent +px;
    vertical-align: middle;
    width: 50%;

    @media(min-width: 768px){
      width: unquote(4/12*100 +'%');
    }

    @media(min-width: 1440px){
      width: unquote(3/12*100 +'%');
    }
  }

}